<phpunit bootstrap="vendor/autoload.php"
	colors="true"
	convertErrorsToExceptions="true"
	convertWarningsToExceptions="true"
    stopOnFailure="true">
    <testsuites>
        <testsuite name="Functions">
            <directory>./testing-functions/tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
